<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>小众点评</title>
    {% load static %}
    <link href = "{% static 'bootstrap/css/bootstrap.min.css' %}" rel = "stylesheet">
    <script type = "text/javascript">
    function showmore(review)
    {
        var str = review.review_id;
        var div = document.getElementsByName(str);
        if(div[0].flag == 0)
        {
            div[0].innerHTML = review.content;
            div[0].flag = 1;
        }
        else
        {
            div[0].innerHTML = review.excertpt;
            div[0].flag = 0;
        }
    }

    </script>
</head>
<body>
    <div class = "container">
        <div class = "header clearfix">
            <h3 class = "text-muted">小众点评</h3>
        </div>
        <section id = "content">
            {% block content %}
            {% endblock %}
        </section>
        <footer class = "footer">
            <p>&copy; 2017 小众点评</p>
        </footer>
    </div>
</body>
</html>