<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>小众点评</title>

    {% load static %}
    <link href = "{% static 'bootstrap/css/bootstrap.min.css' %}" rel = "stylesheet">

    <!-- the below part is copied from a bootstrap template -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'bootstrap/assets/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="{% static 'bootstrap/assets/js/ie8-responsive-file-warning.js' %}"></script><![endif]-->
    <script src="{% static 'bootstrap/assets/js/ie-emulation-modes-warning.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="{% static 'carousel.css' %}" rel="stylesheet">
<!-- NAVBAR
================================================== -->
    <!-- end copy -->

    <script type = "text/javascript">
    function showmore(review)
    {
        var str = review.review_id;
        var div = document.getElementsByName(str);
        if(div[0].flag == 0)
        {
            div[0].innerHTML = review.content;
            div[0].flag = 1;
        }
        else
        {
            div[0].innerHTML = review.excerpt;
            div[0].flag = 0;
        }
    }

    </script>
</head>
<body>
    <div class = "container">
        <div class = "header clearfix">
            <h3 class = "text-muted">小众点评</h3>
        </div>
        <section id = "content">
            {% block content %}
            {% endblock %}
        </section>
        <footer class = "footer">
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2017 小众点评</p>
        </footer>
    </div>
</body>
</html>