{% extends 'base.html' %}
{% block content %}
    {% for review in reviews %}
        <div>
            {% ifnotequal review.photo_url "" %}
                <div class="col-md-4">
                    <img src = "{{ review.photo_url }}" width = 100 height = 100/>
                </div>
                <div class="col-md-8">
            {% endifnotequal %}
        <h4>
            {% ifnotequal review.business.name "" %}
                店铺：{{ review.business.name }}<br/>
            {% endifnotequal %}

            {% ifnotequal review.business.author "" %}
                用户名: {{ review.author }}<br/>
            {% endifnotequal %}

            {% ifnotequal review.grade -1 %}
                评分：{{ review.grade }}<br/>
            {% endifnotequal %}

            {% ifnotequal review.price -1 %}
                人均价格：{{ review.price }}
            {% endifnotequal %}

        </h4>
            {% ifnotequal review.photo_url "" %}
            </div>
            {% endifnotequal %}
        <div flag = 0 name = {{ review.review_id }}>
        {{ review.content }}<br/>
        </div>
        </div>
        <hr/>
    {% endfor %}
{% endblock %}