{% extends 'base.html' %}
{% block content %}
    {% for business in businesses %}
        <div>
        <a href = "{% url 'accurate' business.shop_id %}">
        <div>
            {% ifnotequal business.photo_url "" %}
            <img src = "{{ business.photo_url }}" width = 100 height = 100/>
            {% endifnotequal %}

            <h4>{{ business.name }}</h4>
            <h5>
                {% ifnotequal business.avg_rating -1 %}
                评分：{{ business.avg_rating }}
                {% endifnotequal %}

                {{ business.review_count }}条点评&nbsp;|&nbsp;

                {% ifnotequal business.avg_price 0 %}
                人均&nbsp;¥&nbsp;{{ business.avg_price }}
                {% endifnotequal %}
            </h5>
            <div>
                {% ifnotequal business.category ""%}
                {{ business.category }}&nbsp;|&nbsp;
                {% endifnotequal %}

                {% ifnotequal business.region "" %}
                {{ business.region }}&nbsp;
                {% endifnotequal %}

                {% ifnotequal business.address "" %}
                {{ business.address }}
                {% endifnotequal %}
            </div>
        </div>
        </a>
        </div>
        <hr/>
    {% endfor %}
{% endblock %}