{% extends 'base.html' %}
{% block content %}
    {% for review in reviews %}
        <div>
        <a onclick = "showmore({{ review }}">
            {% ifnotequal review.photo_url "" %}
                <img src = "{{ review.photo_url }}" width = 100 height = 100/>
            {% endifnotequal %}
        <h4>
            {% ifnotequal review.business.name "" %}
                店铺：{{ review.business.name }}<br/>
            {% endifnotequal %}

            {% ifnotequal review.business.author "" %}
                用户名: {{ review.author }}<br/>
            {% endifnotequal %}

            {% ifnotequal review.grade -1 %}
                评分：{{ review.grade }}<br/>
            {% endifnotequal %}

            {% ifnotequal review.price 0 %}
                人均价格：{{ review.price }}
            {% endifnotequal %}
        </h4>
        <div flag = 0 name = {{ review.review_id }}>
        {{ review.excerpt }}
        </div>
        </a>
        </div>
        <hr/>
    {% endfor %}
{% endblock %}