{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <script type = "text/javascript">
    function show_subregions()
    {
        var radios = document.getElementsByName("region");
        var length = radios.length;
        for(var i = 0; i < length; i++)
        {
            if(radios[i].checked)
            {
                var myregion = radios[i].value;
                var subregions = {{ subregions | safe }};
                var div = document.getElementsByName("insertion");
                var newdiv = document.createElement("div");
                newdiv.name = "insertion_child";
                var h3 = document.createElement("h3");
                h3.innerHTML = "商圈";
                var mylist = subregions[myregion];
                for (var j = 0; j < mylist.length; j++)
                {
                    if(j == 0)
                        newdiv.appendChild(h3);
                    var subregion = mylist[j];
                    var newlabel = document.createElement("label");
                    var newradio = document.createElement("input");
                    newradio.type = "radio";
                    newradio.name = "subregion";
                    newradio.value = subregion;
                    newlabel.appendChild(newradio);
                    newdiv.appendChild(newlabel);
                    newlabel.innerHTML += subregion + "&nbsp;";
                }

                var childs = div[0].childNodes;
                for(var k = childs.length - 1; k >= 0; k--)
                {
                    if(childs[k].name === "insertion_child")
                    {
                        div[0].removeChild(childs[k]);
                        break;
                    }
                }
                div[0].appendChild(newdiv);
            }
        }
    }

    function change_placeholder()
    {
        var myselect = document.getElementById("search_method");
        var mycontent = document.getElementById("request_content");
        if(myselect.value === "2")
        {
            mycontent.placeholder = "推荐菜";
        }
        else if(myselect.value === "3")
        {
            mycontent.placeholder = "地址";
        }
        else
        {
            mycontent.placeholder = "店名";
        }
    }
    </script>

  <div>
    {% include 'messages.html' %}
  </div>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="{% static 'bg1.jpg' %}" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <div class = "col-md-5">
                  <div class="panel panel-default">
                      <div class="panel-heading"> <strong class="">小众搜索</strong></div>
                      <div class="panel-body">
                          <form method="post" action="{% url 'search' %}">
                              {% csrf_token %}
                              <div class="form-group">
                                  <div class="row">
                                  <div class="input-group">
                                      <div class="input-group-addon">
                                          <select id = "search_method" name = "search_method" onchange="change_placeholder()">
                                              <option value = "1" >店名</option>
                                              <option value = "2" >推荐菜</option>
                                              <option value = "3" >地址</option>
                                          </select>
                                      </div><!-- /btn-group -->
                                      <input type="text" class="form-control" id = "request_content" name = "request_content" placeholder="店名" required/>
                                      <span class="input-group-btn">
                                          <button class="btn btn-default" type="submit">Go!</button>
                                      </span>
                                  </div><!-- /input-group -->
                                  </div>
                              </div>
                          </form>
                          <form method = "post" action = "{% url 'review_search'%}">
                              {% csrf_token %}
                              <div class="form-group">
                                  <div class="row">
                                  <div class="input-group">
                                      <span class="input-group-addon">评论</span>
                                      <input type="text" id="review" name="review" class="form-control" placeholder="评论" required/>
                                      <span class="input-group-btn">
                                          <button class="btn btn-default" type="submit">Go!</button>
                                      </span>
                                  </div><!-- /input-group -->
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="{% static 'bg3.jpg' %}" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <div class="col-md-5 col-md-offset-7">
                  <div class="panel panel-default">
                      <div class="panel-heading"><strong class="">用户登录</strong></div>
                      <div class="panel-body">
                          <form method="post" action="{% url 'authenticate' %}">
                              {% csrf_token %}
                              <div class="form-group">
                                  <div class="row">
                                      <div class="input-group">
                                          <span class="input-group-addon">Username</span>
                                          <input type="text" id="username" name="username" class="form-control" placeholder="username" required/>
                                      </div>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="row">
                                      <div class="input-group">
                                          <span class="input-group-addon">Password</span>
                                          <input type="text" id="password" name="password" class="form-control" placeholder="password" required/>
                                      </div>
                                  </div>
                              </div>
                              <button type="submit" class="btn btn-primary">登录</button>
                          </form>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="{% static 'bg2.jpg' %}" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <div class="col-md-5">
                  <div class="panel panel-default">
                      <div class="panel-heading"><strong class="">用户注册</strong></div>
                      <div class="panel-body">
                          <form method="post" action="{% url 'signupsubmit' %}">
                              {% csrf_token %}
                              <div class="form-group">
                                  <div class="row">
                                      <div class="input-group">
                                          <span class="input-group-addon">Username</span>
                                          <input type="text" id="username" name="username" class="form-control" placeholder="username" required/>
                                      </div>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="row">
                                      <div class="input-group">
                                          <span class="input-group-addon">Telephone</span>
                                          <input type="text" id="telephone" name="telephone" class="form-control" placeholder="telephone" required/>
                                      </div>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="row">
                                      <div class="input-group">
                                          <span class="input-group-addon">Password</span>
                                          <input type="text" id="password" name="password" class="form-control" placeholder="password" required/>
                                      </div>
                                  </div>
                              </div>
                              <button type="submit" class="btn btn-primary">注册</button>
                          </form>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
          <form method = "post" action = "{% url 'multi_search' %}">
            {% csrf_token %}
        <div class="col-lg-6">
          <div class = "form-group">
                <h3>美食分类</h3>
                {% for dish_style in dish_styles %}
                <label><input name = "dish_style" type = "radio" value = "{{ dish_style }}"/>{{ dish_style }}&nbsp;</label>
                {% endfor %}
            </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-6">
          <div class = "form-group">
                <h3>地区</h3>
                {% for region in regions %}
                <label><input name = "region" type = "radio" onclick = "show_subregions()"value = "{{ region }}"/>
                    {{ region }}&nbsp;</label>
                {% endfor %}
                <div class = "form-group">
                    <div name = "insertion"></div>
                </div>
        <button type = "submit" class = "btn btn-default">搜索</button>
            </div>
        </div><!-- /.col-lg-4 -->
          <!--button type = "submit" class = "btn btn-primary">搜索</button-->
        </form>
      </div><!-- /.row -->
    <hr/>
    <br/>
    <br/>


    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      {% load static %}
    <script>window.jQuery || document.write('<script src="{% static 'bootstrap/assets/js/vendor/jquery.min.js' %}"><\/script>')</script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{% static 'bootstrap/assets/js/vendor/holder.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'bootstrap/assets/js/ie10-viewport-bug-workaround.js' %}"></script>
  </div>
{% endblock %}