{% extends 'base.html' %}
{% block content %}
    <h2>搜索美食店铺</h2>
    <div>
        <form method = "post" action = "{% url 'search'%}">
            {% csrf_token %}
            <div class = "form-group">
                <select>
                    <option value = "1">--</option>
                    <option value = "2">菜系</option>
                    <option value = "3">商圈</option>
                    <option value = "4">评分</option>
                </select>
                <input type = "text" id = "myrequest" name = "myrequest" class = "form-control" placeholder = "MyRequest" required/>
            </div>
            <button type = "submit" class = "btn btn-primary">搜索</button>
        </form>
    </div>
    <hr/>
    <h2>搜索评论</h2>
    <div>
        <form method = "post" action = "{% url 'review_search'%}">
            {% csrf_token %}
            <div class = "form-group">
                <label for = "review_search">
                    搜索评论内容
                </label>
                <input type = "text" id = "review" name = "review" class = "form-control" placeholder = "Review" required/>
            </div>
            <button type = "submit" class = "btn btn-primary">搜索</button>
        </form>
    </div>
    <hr/>
    <br/>


{% endblock %}