{% extends 'base.html' %}
{% block content %}
    <h2>搜索美食店铺</h2>
    <div>
        <form method = "post" action = "{% url 'search'%}">
            {% csrf_token %}
            <div class = "form-group">
                <select ud = "search_method" name = "search_method">
                    <option value = "1">店名</option>
                    <option value = "2">推荐菜</option>
                    <option value = "3">地址</option>
                </select>
                <input type = "text" id = "request_content" name = "request_content" class = "form-control" placeholder = "MyRequest" required/>
            </div>
            <button type = "submit" class = "btn btn-primary">搜索</button>
        </form>
    </div>
    <hr/>
    <h2>搜索评论</h2>
    <div>
        <form method = "post" action = "{% url 'review_search'%}">
            {% csrf_token %}
            <div class = "form-group">
                <label for = "review_search">
                    搜索评论内容
                </label>
                <input type = "text" id = "review" name = "review" class = "form-control" placeholder = "Review" required/>
            </div>
            <button type = "submit" class = "btn btn-primary">搜索</button>
        </form>
    </div>
    <hr/>
    <br/>
    <h2>热门导航</h2>




{% endblock %}